body {

	margin: 4em;
}

h1 {
  border-bottom: solid 10px #D1D464;
  position: relative;
}

h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 10px #BF5762;
  bottom: -10px;
  width: 40%;
}

.main-contents {
	padding: 0.5em 1em;
	margin: 2.5em 0 0.5em;
	background-color: #FFD5EC;
	border-top: solid 10px #BF5762;

}

.setting {
	padding: 0.5em 1em;
	margin: 2.5em 0 0.5em;
	background-color: #F3FFD8;
	border-top: solid 10px #D1D464;

}

.dateFilter{
	margin-top: 1em;
}

.tweet-box {

	width: 500px;
	height: 56px;
}

.comment-box {
	width: 350px;
	height: 50px;
}

.header {
	text-align: right;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
	color: gray;
}

.form-area {
	padding: 0.5em 1em;
	margin: 2em 0 1em;
	background-color: #CEF9DC;
	border-top: solid 10px #2A918E;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: #696969;

}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.comment .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.comment {
	padding: 0.5em 1em;
	margin: 0.5em 0;
	background: #D7EEFF;

}
pre{
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;

}

.comment-form-area{
	padding: 0.5em 1em;
	margin: 0.5em 0;
	background: #D7EEFF;

}

.message {
	padding: 0.5em 1em;
	margin: 2.5em 0 0.5em;
	color: #232323;
	background: #BAD3FF;
	border-top: solid 10px #3377A8;
}

.profile {
	padding: 0.5em 1em;
	margin: 2.5em 0 0.5em;
	color: #232323;
	background: #EAD9FF;
	border-top: solid 10px #7B57A1;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

